[req]
distinguished_name = dn
prompt = no
req_extensions = req_ext

[dn]
CN = verify-k8s-postgres

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = verify-k8s-postgres
DNS.2 = localhost
IP.1 = 127.0.0.1
